@import "tailwindcss";

@theme inline {
  --color-background: #121212;
  --color-foreground: #ffffff;
  
  --color-gold-500: #C5A059;
  --color-gold-600: #b08d48;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
